<div class="container">
    <h1>Eat-Da-Burger!</h1>
    <img src="/assets/images/burger.jpg">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12">
                <h2>Burgers I Wanna Eat</h2>
                <ul>
                    {{#each burgers}} {{#unless this.devoured}}
                    <li id={{this.id}}>
                        <form action="/{{this.id}}?_method=PUT" method="POST">
                            {{this.id}}. {{this.burger_name}}
                            <input type="hidden" name="devoured" value="true">
                            <button type="submit" class="btn-danger pull-right">Devour</button>
                        </form>
                    </li>
                    {{/unless}} {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <h2>Devoured Burgers</h2>
                <ul>
                    {{#each burgers}} {{#if this.devoured}}
                    <li>
                        {{this.id}}. {{this.burger_name}}
                        <form action="/{{this.id}}?_method=PUT" method="POST">
                            <input type="hidden" name="devoured" value="false">
                        </form>
                    </li>
                    {{/if}} {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4" id="addBurger">
            <h2>Add a Burger</h2>
            <form class="create-update-form" action="/" method="POST">
                <div class="form-group">
                    <label for="ca">Burger Name:</label>
                    <input type="text" id="ca" name="burger_name">
                </div>
                <button type="submit" class="btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>